a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

a {
    text-decoration: none
}

.c-green {
    color: #29b6b0 !important
}

.c-orange {
    color: #ff795c !important
}

.c-red {
    color: red !important
}

.c-gray {
    color: #888 !important
}

/*
@font-face {
  font-family: toolbar;
  src: url(/untitled/styles/fonts/iconfont_a6912f29-a6912f29e196e285b47127a7b5a2d10c.eot);
  src: url(/untitled/styles/fonts/iconfont_a6912f29-a6912f29e196e285b47127a7b5a2d10c.eot?#iefix) format("embedded-opentype"), url(/untitled/styles/fonts/iconfont_80171836-80171836fc5ad29669eba7e35f571530.woff) format("woff"), url(/untitled/styles/fonts/iconfont_f0d3ab06-f0d3ab0667d17ee0d685a2e0168a1a97.ttf) format("truetype"), url(/untitled/styles/fonts/iconfont_11c11bfb-11c11bfbf0324d0acd3d26251c2f7a12.svg#iconfont) format("svg")
}

@font-face {
  font-family: nav;
  src: url(/untitled/styles/fonts/iconfont_c8ec51ca-c8ec51ca17f16d955e34d4c27f9907fe.eot);
  src: url(/untitled/styles/fonts/iconfont_c8ec51ca-c8ec51ca17f16d955e34d4c27f9907fe.eot?#iefix) format("embedded-opentype"), url(/untitled/styles/fonts/iconfont_943427e0-943427e0469c0c84e03e4500bdb6ce41.woff) format("woff"), url(/untitled/styles/fonts/iconfont_4d660c7e-4d660c7e84e556d797d8f9b8c118a617.ttf) format("truetype"), url(/untitled/styles/fonts/iconfont_446c9f2f-446c9f2f5d98a407889cf30e81da0f44.svg#iconfont) format("svg")
}

@font-face {
  font-family: handle;
  src: url(/untitled/styles/fonts/iconfont_4ba8aa15-4ba8aa152ff00d5b552907e54c078d20.eot);
  src: url(/untitled/styles/fonts/iconfont_4ba8aa15-4ba8aa152ff00d5b552907e54c078d20.eot?#iefix) format("embedded-opentype"), url(/untitled/styles/fonts/iconfont_61b4ae35-61b4ae351741e2e816d2496c0226574d.woff) format("woff"), url(/untitled/styles/fonts/iconfont_5ca2472b-5ca2472be04d3b61bd88c25711dfb259.ttf) format("truetype"), url(/untitled/styles/fonts/iconfont_18d25e38-18d25e38618589beb60e2c07919bf9e6.svg#iconfont) format("svg")
}

@font-face {
  font-family: login;
  src: url(/untitled/styles/fonts/iconfont_b4df9125-b4df91257cb9c04a7ae7f241a96580b5.eot);
  src: url(/untitled/styles/fonts/iconfont_b4df9125-b4df91257cb9c04a7ae7f241a96580b5.eot?#iefix) format("embedded-opentype"), url(/untitled/styles/fonts/iconfont_0df0cf6c-0df0cf6ca908354c5c93b4f16a7bdd85.woff) format("woff"), url(/untitled/styles/fonts/iconfont_dafc9042-dafc9042597316c8f08da3b456f4333f.ttf) format("truetype"), url(/untitled/styles/fonts/iconfont_f5ea790e-f5ea790ea348ee53239f526a3f3570b6.svg#iconfont) format("svg")
}

.iconfont {
  font-family: toolbar
}

.iconnav, .iconfont {
  font-size: 16px;
  font-style: normal
}

.iconnav {
  font-family: nav
}

.iconfont {
  font-family: handle
}

.iconfont, .iconlogin {
  font-size: 16px;
  font-style: normal
}

.iconlogin {
  font-family: login
}
*/

.ft12 {
    font-size: 12px !important
}

.ft14 {
    font-size: 14px !important
}

.ft16 {
    font-size: 16px !important
}

.ft18 {
    font-size: 18px !important
}

.fw-b {
    font-weight: 700 !important
}

.fw-n {
    font-weight: 400 !important
}

.ft-desc {
    color: #888
}

body {
    background-color: #f7f6f2;
    position: relative;
    color: #444;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased
}

body, input, select, textarea {
    font-family: Hiragino Sans GB, Helvetica Neue, Helvetica, Microsoft Yahei, STHeiTi, Arial, sans-serif
}

input, select, textarea {
    padding: 0;
    margin: 0
}

.cf {
    *zoom: 1
}

.cf:after, .cf:before {
    content: " ";
    display: table
}

.cf:after {
    clear: both
}

.fl {
    float: left !important
}

.fr {
    float: right !important
}

.mt10 {
    margin-top: 10px !important
}

.mb10 {
    margin-bottom: 10px !important
}

.mr10 {
    margin-right: 10px !important
}

.mt15 {
    margin-top: 15px !important
}

.mr15 {
    margin-right: 15px !important
}

.ml15 {
    margin-left: 15px !important
}

.ml20 {
    margin-left: 20px !important
}

.mr20 {
    margin-right: 20px !important
}

.mt20 {
    margin-top: 20px !important
}

.mb20 {
    margin-bottom: 20px !important
}

.padlr20 {
    padding: 0 20px !important
}

.padr20 {
    padding-right: 20px !important
}

.padl20 {
    padding-left: 20px !important
}

.padr80 {
    padding-right: 80px !important
}

.padr90 {
    padding-right: 90px !important
}

.posr {
    position: relative !important
}

.pd10 {
    padding-bottom: 10px !important
}

/*
#app {
  padding-left: 80px
}
*/

.content {
    position: relative;
    padding-left: 178px;
    transition: padding 1s ease
}

.content.content-big {
    padding-left: 0
}

.link, .link-d {
    color: #29b6b0 !important;
}

.link-d {
    display: inline-block;
    text-decoration: underline
}

.link-normal {
    color: #29b6b0;
    font-weight: 400;
    text-decoration: none
}

.link-normal:active, .link-normal:hover {
    font-weight: 700
}

.link-green {
    color: #29b6b0;
    font-weight: 400;
    text-decoration: underline
}

.link-green:active, .link-green:hover {
    color: #444
}

.link-gray {
    color: #444;
    font-weight: 400;
    text-decoration: underline
}

.link-gray:active, .link-gray:hover {
    color: #29b6b0
}

.link-gray-d {
    color: #444;
    font-weight: 400;
    text-decoration: none
}

.link-gray-d:active, .link-gray-d:hover {
    color: #29b6b0
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.hide {
    display: none
}

.flex {
    display: -webkit-box;
    display: flex;
    word-break: break-all
}

.flex .side-auto {
    -webkit-box-flex: 1;
    flex: 1;
    display: block;
    min-height: 0;
    min-width: 0
}

.page-content {
    margin: 20px 0
}

::-webkit-input-placeholder {
    color: #a9a9a9
}

::-moz-placeholder {
    color: #a9a9a9
}

:-ms-input-placeholder {
    color: #a9a9a9
}

:-moz-placeholder {
    color: #a9a9a9
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track-piece {
    border: none;
    background-color: #f5f5f5
}

::-webkit-scrollbar-thumb {
    width: 8px;
    background: #cbcbcb;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}

::-webkit-scrollbar-thumb:hover {
    background: #29b6b0
}

.modal-open {
    overflow: hidden
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    transition: all .5s ease
}

.modal.fade .modal-dialog {
    transition: transform .5s ease-out;
    transform: translateY(-25%)
}

.modal.in {
    background-color: rgba(0, 0, 0, .5)
}

.modal.in .modal-dialog {
    transform: translate(0)
}

.modal.delete .modal-content {
    border-color: #ff795c
}

.modal.message-box .modal-dialog {
    width: auto !important;
    max-width: 500px;
    position: absolute;
    left: 50%
}

.modal.message-box .modal-content {
    border-top: 0;
    box-shadow: none
}

.modal.message-box .iconfont {
    margin-right: 5px
}

.modal.message-box .success {
    color: #59dfa3
}

.modal.message-box .error {
    color: #f9431d
}

.modal.message-box p {
    color: #444;
    font-size: 14px;
    padding: 0 5px 0 3px
}

.richeditor-img-modal .modal-dialog {
    position: absolute;
    left: 50%;
    top: 200px;
    margin-left: -275px
}

.fade {
    opacity: 0;
    transition: opacity .15s linear
}

.fade.in {
    opacity: 1
}

.modal-dialog {
    position: absolute;
    width: auto
}

.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 5px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    border-top: 8px solid #444
}

.modal-content .icon-close {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
    font-size: 16px;
    color: #999;
}

.modal-content .icon-close:hover {
    color: #444
}

.modal-header {
    padding: 24px 20px 0;
    font-size: 15px;
    line-height: 20px
}

.modal-header .modal-title {
    font-weight: 700;
    font-size: 16px;
    color: #444
}

.modal-body {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden
}

.modal-footer {
    padding: 10px 0 20px 20px
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 14px
}

.form-control:focus {
    outline: 0
}

.form-control:focus, .form-control:focus + .unit {
    border-color: #a8e7e7
}

.form-control-dirty.invalid {
    border: 1px solid #f66b4e
}

.control-label {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    font-weight: 700;
    color: #444;
    line-height: 34px;
    width: 100px;
    text-align: right;
    padding-right: 10px
}

.label-required:before {
    content: "*";
    display: inline-block;
    width: 7px;
    height: 7px;
    color: red;
    margin-right: 5px
}

.form-group {
    margin-bottom: 20px;
    max-width: 950px;
    position: relative;
    padding-left: 106px;
    *zoom: 1
}

.form-group:after, .form-group:before {
    content: " ";
    display: table
}

.form-group:after {
    clear: both
}

.form-group p.invalid {
    color: #f66b4e;
    font-size: 12px;
    margin-top: 8px
}

.form-group p.invalid .iconfont {
    font-size: 14px
}

.form-group .form-group-tip {
    font-size: 14px;
    line-height: 1.5;
    color: #888;
    margin: 8px 0
}

.form-group .form-group-tip > a {
    color: #29b6b0;
    text-decoration: underline
}

.form-group .switch {
    float: left;
    margin: 6px 10px 0 0
}

.form-group .switch-tip {
    font-size: 14px;
    color: #888;
    line-height: 1.5;
    display: table;
    height: 34px
}

.form-group .switch-tip span {
    display: table-cell;
    vertical-align: middle
}

.form-group .form-inline-tip {
    font-size: 14px;
    margin-left: 10px;
    color: #888
}

.form-group .form-text {
    font-size: 14px;
    line-height: 34px
}

.form-group .form-text a {
    color: #29b6b0
}

.form-group .form-text .btn {
    color: #444
}

.bottomline {
    padding-bottom: 30px;
    border-bottom: 1px dashed #d8d8d8
}

.bottom-tri-line {
    position: relative;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 15px
}

.bottom-tri-line:after, .bottom-tri-line:before {
    content: "";
    position: absolute;
    bottom: -1px
}

.bottom-tri-line:before {
    border: 6px solid transparent;
    border-bottom-color: #d5d5d5;
    left: 20px
}

.bottom-tri-line:after {
    border: 5px solid transparent;
    border-bottom-color: #f7f6f2;
    left: 21px
}

.form-control-static {
    line-height: 34px
}

.input-group {
    position: relative;
    padding-right: 80px
}

.input-group .form-control {
    border-radius: 2px 0 0 2px
}

.input-group .unit {
    position: absolute;
    top: 0;
    right: 0;
    width: 79px;
    border: 1px solid #ccc;
    height: 34px;
    border-radius: 0 2px 2px 0;
    background: #fff;
    font-size: 14px;
    color: #444;
    line-height: 32px;
    text-align: center;
    border-left: 0
}

.form-inline {
    *zoom: 1
}

.form-inline:after, .form-inline:before {
    content: " ";
    display: table
}

.form-inline:after {
    clear: both
}

.form-inline .checkbox-control, .form-inline .form-control, .form-inline .select-group {
    margin-right: 10px;
    float: left
}

.form-inline .btn-filter {
    box-sizing: initial;
}

.form-inline .form-control {
    display: inline-block;
    width: 280px
}

.radios label {
    line-height: 34px;
    margin-right: 30px;
    font-size: 14px;
    position: relative;
    padding-left: 25px;
    display: inline-block
}

.radios label input {
    margin-right: 10px;
    height: 16px;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 9px
}

.radios.bottomline-radio {
    border-bottom: 1px solid #d5d5d5
}

.radios.bottomline-radio label.active {
    padding-bottom: 10px
}

.radios.bottomline-radio label.active:after, .radios.bottomline-radio label.active:before {
    content: "";
    position: absolute;
    bottom: -1px
}

.radios.bottomline-radio label.active:before {
    border: 6px solid transparent;
    border-bottom-color: #d5d5d5;
    left: 30px
}

.radios.bottomline-radio label.active:after {
    border: 5px solid transparent;
    border-bottom-color: #f7f6f2;
    left: 31px
}

.form-control-tip {
    font-size: 14px;
    color: #444;
    line-height: 1.5;
    margin-top: 15px
}

.form-control-tip a {
    color: #15c8c0;
    text-decoration: underline
}

.form-groups-chunk {
    margin-top: 20px;
    border-bottom: 1px dashed #d8d8d8;
    max-width: 950px
}

.form-groups-chunk h4 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px
}

.input-with-addon {
    width: 100%;
    position: relative;
    display: table;
    border-collapse: separate
}

.input-with-addon .form-control, .input-with-addon .input-group-addon {
    display: table-cell
}

.input-with-addon .form-control {
    width: 100%;
    border-radius: 2px 0 0 2px
}

.input-with-addon .input-group-addon {
    width: 1%;
    white-space: nowrap;
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-left: 0;
    border-radius: 0 2px 2px 0;
    font-size: 14px;
    line-height: 1;
    vertical-align: middle;
    text-align: center
}

.input-with-addon .select-addon {
    padding: 0 10px
}

.input-with-addon .select-addon .iconfont {
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 90
}

.input-with-addon .select-control {
    position: relative;
    width: 85px;
    height: 32px;
    border: 0;
    background-color: #fff;
    font-size: 14px;
    outline: 0;
    -webkit-appearance: inherit;
    -moz-appearance: inherit
}

.radio-group {
    font-size: 14px
}

.radio-group.bottomline-radio {
    border-bottom: 1px solid #d5d5d5
}

.radio-group.bottomline-radio .radio-label.active {
    padding-bottom: 10px
}

.radio-group.bottomline-radio .radio-label.active:after, .radio-group.bottomline-radio .radio-label.active:before {
    content: "";
    position: absolute;
    bottom: -1px
}

.radio-group.bottomline-radio .radio-label.active:before {
    border: 6px solid transparent;
    border-bottom-color: #d5d5d5;
    left: 30px
}

.radio-group.bottomline-radio .radio-label.active:after {
    border: 5px solid transparent;
    border-bottom-color: #f7f6f2;
    left: 31px
}

.input-box {
    display: inline-block;
}

.credit-money-input .iconfont {
    color: #29b6b0;
    line-height: 34px;
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    font-weight: 600;
}

.radio-group .radio-label {
    margin-right: 40px;
    display: inline-block;
    line-height: 34px;
    position: relative
}

.radio-group .radio-control {
    margin-right: 5px;
    width: inherit;
}

.region-picker select {
    width: 204px;
    line-height: 34px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
    margin-right: 10px;
    background-color: #fff
}

.tip {
    border: 1px solid #d2f0f0;
    line-height: 1.5;
    background: #f6fdfd;
    position: relative;
    padding: 6px 30px 6px 15px;
    box-sizing: border-box;
    font-size: 14px
}

.tip .close {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 12px;
    color: #d8d8d8
}

.tip .close:hover {
    color: #444
}

.tip a {
    color: #29b6b0 !important;
    text-decoration: underline
}

.tip.form-tip {
    max-width: 950px
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: Hiragino Sans GB, Helvetica Neue, Helvetica, Microsoft Yahei, STHeiTi, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    font-size: 12px;
    opacity: .9;
    filter: alpha(opacity=90)
}

.tooltip.top {
    margin-top: -3px;
    padding: 5px 0
}

.tooltip.top.unloadCommodity {
    top: -34px;
    left: -13px;
}

.tooltip.top.addCommodity {
    top: -34px;
    left: -13px;
}

.tooltip.top.replenishment {
    top: -34px;
    left: 14px;
}

.tooltip.top.edit {
    top: -34px;
    left: 13px;
}

.tooltip.top.phone2 {
    top: -34px;
    left: 30px;
}

.tooltip.top.link {
    top: -34px;
    left: 65px;
}

.tooltip.top.delete {
    top: -34px;
    left: 95px;
}

.tooltip.right {
    margin-left: 3px;
    padding: 0 5px
}

.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0
}

.tooltip.left {
    margin-left: -3px;
    padding: 0 5px
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #29b6b0;
    border-radius: 20px
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #29b6b0
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #29b6b0
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #29b6b0
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #29b6b0
}

.delete.top .tooltip-inner {
    background-color: #ff795c
}

.delete.top .tooltip-arrow {
    border-top-color: #ff795c
}

.disable.top .tooltip-inner {
    background-color: #eee;
    border-radius: 6px;
    color: #888
}

.disable.top .tooltip-arrow {
    border-top-color: #eee
}

.nav-tabs {
    position: absolute;
    left: 160px;
    bottom: -1px
}

.nav-tabs li {
    float: left;
    line-height: 34px;
    font-size: 12px
}

.nav-tabs li a {
    border: 1px solid transparent;
    display: block;
    color: #888;
    padding: 0 15px;
    outline: 0
}

.nav-tabs li a.active {
    border: 1px solid #dfdfdf;
    border-bottom: 1px solid #f7f6f2;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    color: #444
}

.tabs-box {
    max-width: 820px;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    background-color: #fff
}

.tabs-box .header-tabs {
    border-bottom: 1px solid #e5e5e5
}

.tabs-box .header-tabs li {
    font-size: 14px;
    position: relative;
    bottom: -1px;
    margin: 0 10px;
    float: left;
    line-height: 34px
}

.tabs-box .header-tabs li:first-child {
    margin-left: 0
}

.tabs-box .header-tabs li:before {
    content: "";
    position: absolute;
    top: 9px;
    right: -10px;
    height: 16px;
    border-right: 1px dashed #d8d8d8
}

.tabs-box .header-tabs li:last-child:before {
    display: none
}

.tabs-box .header-tabs li a {
    display: block;
    border-bottom: 2px solid transparent;
    padding: 0 25px 0 15px;
    padding-right: 25px;
    position: relative;
    color: #888
}

.tabs-box .header-tabs li a.active {
    font-weight: 400;
    border-bottom: 2px solid #29b6b0;
    color: #444
}

.tabs-box .header-tabs li .iconfont {
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: 8px;
    color: #a5a5a5
}

.tabs-box .header-tabs li .iconfont.active {
    color: #29b6b0
}

.tabs-box .tab-content {
    padding: 10px 0
}

.tabs-box .warn-tip {
    font-size: 14px;
    color: #535353;
    padding: 10px 0 15px;
    border-bottom: 1px dashed #d8d8d8
}

.tabs-box .warn-tip a {
    text-decoration: underline;
    color: #29b6b0
}

.tabs-box .image-upload-container, .tabs-box .multi-image-upload {
    margin-top: 20px
}

.tr-header {
    line-height: 30px;
    height: 30px;
    background: #e8e7e2;
    color: #333;
    font-size: 12px;
    width: 100%
}

.tr-header th {
    font-weight: 400;
    text-align: left
}

.tr-header th:first-child {
    padding-left: 22px
}

.tr-items {
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    width: 100%;
    color: #444;
    font-size: 12px;
    vertical-align: middle
}

table tbody tr:nth-child(odd) {
    background: #fff;
}

table tbody tr:nth-child(2n) {
    background: #f9f9f9;
}

.tr-items td:first-child {
    padding-left: 22px
}

.tr-items td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}

.category-img {
    width: 30px;
    height: 30px;
    float: left;
}

.category-title {
    margin-left: 50px;
    line-height: 30px;
    height: 30px;
    display: table;
    text-align: center;
}

.tr-items:hover {
    background: #f6fcfc
}

.tr-items a {
    color: #29b6b0;
    text-decoration: underline
}

.tr-items .iconfont, .tr-items .iconfont {
    color: #bbb !important;
    text-decoration: none;
    font-size: 14px;
}

.tr-items .iconfont.icon-delete:hover, .tr-items .iconfont.icon-delete:hover {
    color: #ff795c
}

.td-actions {
    width: 170px
}

.td-actions a {
    margin-right: 10px
}

.td-actions a:hover {
    color: #29b6b0
}

.td-actions a.disable {
    color: #eee;
    cursor: not-allowed
}

.td-actions p {
    position: relative
}

.table-header-tip {
    font-size: 12px;
    margin: 15px 0
}

.table-header {
    margin-top: 20px;
    overflow: hidden
}

.table-header > li {
    float: left;
    width: 16.66%;
    text-align: center;
    line-height: 16px;
    padding: 6px 0;
    background: #e8e7e2;
    font-size: 12px
}

.table-header > li span {
    display: block;
    border-right: 1px solid #ccc
}

.table-header > li:last-child span {
    border-right: 0
}

.table-row {
    background: #fff;
    margin: 20px 0
}

.row-header {
    padding: 5px 10px;
    background: #fcfcfa;
    border-top: 1px solid #ebebeb
}

.row-header .order-info {
    color: #888;
    font-size: 12px;
    display: inline-block;
    line-height: 24px;
    margin-right: 20px
}

.row-header .order-info span {
    color: #444
}

.row-items {
    padding: 20px 0;
    display: table;
    width: 100%
}

.row-items li {
    display: table-cell;
    width: 16.66%;
    text-align: center;
    font-size: 12px;
    max-height: 40px;
    box-sizing: border-box;
    padding: 0 25px;
    vertical-align: middle;
    border-right: 1px dotted #e3e3e3
}

.row-items li:last-child {
    border-right: 0
}

.row-items li span {
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    /*word-wrap: break;*/
    word-wrap: break-word;
    word-break: break-all
}

.column4 li {
    width: 25%
}

.column7 li {
    width: 14%
}

.table-activity .td-desc, .table-activity .td-title, .table-goods .td-desc, .table-goods .td-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 240px
}

.table-activity .tr-items:hover .td-title, .table-goods .tr-items:hover .td-title {
    font-weight: 700
}

.table-activity .tr-items .tag, .table-goods .tr-items .tag {
    background: #71c4e2;
    color: #fff;
    padding: 3px;
    border-radius: 2px;
    display: inline-block
}

.table-activity .td-desc, .table-goods .td-desc {
    color: #888;
    margin-top: 12px
}

.table-activity .td-desc .iconnav, .table-goods .td-desc .iconnav {
    display: inline;
    font-size: 13px;
    color: #ff9d60;
    margin-right: 5px
}

.table-activity .goods-check, .table-goods .goods-check {
    width: 40px
}

.table-activity {
    margin-top: 20px
}

.table-activity img {
    width: 137px;
    height: 60px
}

.table-activity .activity-img {
    width: 170px
}

.table-activity .activity-info {
    width: 280px
}

.table-goods {
    margin-top: 20px
}

.table-goods img {
    width: 96px;
    height: 60px
}

.table-goods .goods-img {
    width: 130px
}

.table-goods .td-desc {
    color: #333
}

.table-goods .coupon-info {
    width: 280px
}

.pagination {
    overflow: hidden;
    background-color: #e8e7e2;
    line-height: 28px;
    padding: 8px 20px
}

.pagination .total-count {
    float: left;
    font-size: 14px
}

.pagination .pagination-list {
    float: right;
    margin-top: 5px
}

.pagination .pagination-list li {
    float: left
}

.pagination .num {
    display: block;
    padding: 0 6px;
    min-width: 12px;
    line-height: 22px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    color: #444;
    font-size: 12px;
    margin-right: 8px
}

.pagination .num:hover {
    border-color: #888
}

.pagination .num.disable {
    background-color: #f4f4f4;
    cursor: not-allowed;
    color: #d8d8d8
}

.pagination .num.disable, .pagination .num.disable:hover {
    border-color: #ececec
}

.pagination .num.selected {
    background-color: #444;
    color: #fff !important;
}

.pagination .num.selected, .pagination .num.selected:hover {
    border-color: #444
}

.pagination .point {
    padding: 0 8px;
    margin-right: 8px;
    display: block;
    line-height: 30px;
    position: relative;
    top: -7px
}

.batch-action, .lottery {
    float: left;
    font-size: 14px;
    color: #888;
    line-height: 34px
}

.batch-action .checkbox-control {
    float: left
}

.batch-action .btn {
    margin-left: 10px
}

.typetag {
    font-style: normal;
    font-size: 12px;
    background: #66e2dc;
    padding: 2px 3px;
    color: #fff;
    border-radius: 3px;
    position: relative;
    margin-right: 8px
}

.typetag:after {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: -3px;
    margin-top: -4px;
    border-top: 4px solid transparent;
    border-left: 4px solid #66e2dc;
    border-bottom: 4px solid transparent
}

.tag6 {
    background: #ff905a
}

.tag6:after {
    border-left: 4px solid #ff905a
}

.tag2 {
    background: #80bbff
}

.tag2:after {
    border-left: 4px solid #80bbff
}

.tag5 {
    background: #dd9af8
}

.tag5:after {
    border-left: 4px solid #dd9af8
}

.tag9 {
    background: #77e2aa
}

.tag9:after {
    border-left: 4px solid #77e2aa
}

.tag7 {
    background: #ffc05a
}

.tag7:after {
    border-left: 4px solid #ffc05a
}

.tag31 {
    background: #b2e479
}

.tag31:after {
    border-left: 4px solid #b2e479
}

.tag42 {
    background: #ff94c0
}

.tag42:after {
    border-left: 4px solid #ff94c0
}

.tag28 {
    background: #b9cbff
}

.tag28:after {
    border-left: 4px solid #b9cbff
}

.tag40 {
    background: #ff90ab
}

.tag40:after {
    border-left: 4px solid #ff90ab
}

.tag41 {
    background: #6cd1da
}

.tag41:after {
    border-left: 4px solid #6cd1da
}

.tag8 {
    background: #ff9797
}

.tag8:after {
    border-left: 4px solid #ff9797
}

.tag {
    font-size: 12px;
    font-style: normal;
    display: inline-block;
    padding: 3px;
    color: #fff;
    border-radius: 2px;
    margin-left: 5px
}

.tag, .tag-orange {
    background-color: #f8b965
}

.tag-purple {
    background-color: #baacf3
}

.tag-time {
    background-color: #ff6969 !important
}

.tag-owner {
    background: #85bdfe !important
}

.tag-addr {
    background-color: #b8e986 !important
}

.select-hidden {
    width: 1px;
    heigit: 1px;
    border: 0
}

.select-group {
    width: 195px;
    position: relative;
    display: inline-block
}

.select-group.disabled .select-toggle, .select-group[disabled] .select-toggle {
    color: #d8d8d8;
    cursor: not-allowed;
    background: #f4f4f4;
    border-color: #ececec
}

.select-toggle {
    display: block;
    border: 1px solid #ccc;
    background-color: #fff;
    line-height: 32px;
    font-size: 14px;
    color: #444;
    padding: 0 26px 0 14px;
    position: relative;
    cursor: pointer;
    border-radius: 2px
}

.select-toggle .iconfont {
    color: #888;
    font-size: 12px;
    position: absolute;
    right: 14px
}

.select-toggle:hover {
    border-color: #888
}

.select-toggle:hover .iconfont {
    color: #444
}

.select-menu {
    border: 1px solid #dedede;
    background-color: #fff;
    width: 100%;
    max-height: 180px;
    overflow-y: auto;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 34px;
    z-index: 9999;
    border-radius: 0 0 4px 4px
}

.select-menu li {
    border-bottom: 1px solid #ccc
}

.select-menu li:last-child {
    border: 0
}

.select-menu li.active .iconfont, .select-menu li.active a {
    color: #444
}

.select-menu a {
    display: block;
    position: relative;
    padding-left: 32px;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
    color: #888
}

.select-menu a:hover {
    background-color: #f9f9f9;
    color: #444
}

.select-menu .iconfont {
    font-size: 12px;
    position: absolute;
    left: 14px
}

.time-limit .select-group {
    width: 90px
}

.checkbox-control {
    display: inline-block;
    line-height: 34px;
    height: 34px;
    padding-left: 24px;
    position: relative;
    font-size: 14px
}

.checkbox-control input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: -1
}

.checkbox-control .icon {
    position: absolute;
    left: 0;
    top: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    border: 1px solid #e4e3df;
    font-size: 12px;
    cursor: pointer;
    border-radius: 1px;
    background-color: #fff
}

.checkbox-control .icon:hover {
    border-color: #828282
}

.checkbox-control .icon.iconfont {
    background-color: #29b6b0;
    border-color: #29b6b0;
    color: #fff
}

.checkbox-control .icon.iconfont span {
    display: block;
    transform: scale(.6);
    margin-top: 1px
}

.image-upload-container .img {
    padding: 5px;
    border: 1px solid #e5e5e5;
    display: inline-block
}

.image-upload-container .img img {
    opacity: 0
}

.image-upload-container .img-uploaded img {
    display: block;
    width: 100%;
    opacity: 1
}

.image-upload-container.account-imageupload .img > p, .image-upload-container.w-100-h-100 .img > p, .image-upload-container.w-225-h-140 .img > p, .image-upload-container.w-250-h-250 .img > p, .image-upload-container.w-640-h-300 .img > p {
    background: #d8d8d8 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAAAuCAMAAACiV5+BAAAAgVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9d3yJTAAAAKnRSTlMAS/Di+/hZBYSSRSIczMb06+coct3QuqegmV06Lg99T7uxnH53aGc4EgzK062bAAABXklEQVRIx63V2W6DMBBA0SnYsc0OgbAlzb7N/39gFbeKRAkDBt+nPB1NNCMMZI/mFCaMJeGpecDctiXHd7zczkKeNf6rfpordxd7uXdTxYvxQ7FnqHD8GDdyggQHSgIDJsLBounKDYluUxXhUowrJjIrJFtNZI40c4SR/EbWlTrHNBOfVVXLxh9YsszRqFz2l79THI3jatdVvBRnlXaues2QKCSuka3h3YVC2LeANfGPL5PuJNRfqywavSM/pkfREQPFv6vfkKPo6IE2eknjo4wN5FHDMLl6Bbr966fkg+MEDMkc0LnkMgO44nIGr1DaYEoobDAFODYYB5gNhgG3wXBIbTApRDaYCJQNRsHeBrMH4SxnHAGgcHEKAAK+VOH6oZFLGQmvRLFMKQTo/GSJkvjwV5bOV9IM3vn5XCX3O094NU+pdtCtPZgjhxb6ZTJk0wkWygwGEu3XxNruE/YD6t9ijjcy+L4AAAAASUVORK5CYII=) no-repeat 50%
}

.image-upload-container.account-imageupload img, .image-upload-container.w-100-h-100 img, .image-upload-container.w-225-h-140 img, .image-upload-container.w-250-h-250 img, .image-upload-container.w-640-h-300 img {
    height: 120px
}

.image-upload-container.account-imageupload .upload-area, .image-upload-container.w-100-h-100 .upload-area, .image-upload-container.w-225-h-140 .upload-area, .image-upload-container.w-250-h-250 .upload-area, .image-upload-container.w-640-h-300 .upload-area {
    height: 132px
}

.image-upload-container.account-imageupload {
    width: 170px;
    display: inline-block
}

.image-upload-container.account-imageupload .img > p {
    position: relative;
    width: 170px;
    height: 120px
}

.image-upload-container.account-imageupload .file-upload {
    width: 170px;
    height: 120px
}

.image-upload-container.account-imageupload h3 {
    clear: both;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 10px
}

.image-upload-container.showcase-upload-big .img > p {
    width: 140px;
    background: #d8d8d8 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAAAuCAMAAACiV5+BAAAAgVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9d3yJTAAAAKnRSTlMAS/Di+/hZBYSSRSIczMb06+coct3QuqegmV06Lg99T7uxnH53aGc4EgzK062bAAABXklEQVRIx63V2W6DMBBA0SnYsc0OgbAlzb7N/39gFbeKRAkDBt+nPB1NNCMMZI/mFCaMJeGpecDctiXHd7zczkKeNf6rfpordxd7uXdTxYvxQ7FnqHD8GDdyggQHSgIDJsLBounKDYluUxXhUowrJjIrJFtNZI40c4SR/EbWlTrHNBOfVVXLxh9YsszRqFz2l79THI3jatdVvBRnlXaues2QKCSuka3h3YVC2LeANfGPL5PuJNRfqywavSM/pkfREQPFv6vfkKPo6IE2eknjo4wN5FHDMLl6Bbr966fkg+MEDMkc0LnkMgO44nIGr1DaYEoobDAFODYYB5gNhgG3wXBIbTApRDaYCJQNRsHeBrMH4SxnHAGgcHEKAAK+VOH6oZFLGQmvRLFMKQTo/GSJkvjwV5bOV9IM3vn5XCX3O094NU+pdtCtPZgjhxb6ZTJk0wkWygwGEu3XxNruE/YD6t9ijjcy+L4AAAAASUVORK5CYII=) no-repeat 50%
}

.image-upload-container.showcase-upload-big img {
    height: 93px
}

.image-upload-container.showcase-upload-big .upload-area {
    height: 105px
}

.image-upload-container.showcase-upload-small .img > p {
    width: 189px;
    background: #d8d8d8 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAAAuCAMAAACiV5+BAAAAgVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9d3yJTAAAAKnRSTlMAS/Di+/hZBYSSRSIczMb06+coct3QuqegmV06Lg99T7uxnH53aGc4EgzK062bAAABXklEQVRIx63V2W6DMBBA0SnYsc0OgbAlzb7N/39gFbeKRAkDBt+nPB1NNCMMZI/mFCaMJeGpecDctiXHd7zczkKeNf6rfpordxd7uXdTxYvxQ7FnqHD8GDdyggQHSgIDJsLBounKDYluUxXhUowrJjIrJFtNZI40c4SR/EbWlTrHNBOfVVXLxh9YsszRqFz2l79THI3jatdVvBRnlXaues2QKCSuka3h3YVC2LeANfGPL5PuJNRfqywavSM/pkfREQPFv6vfkKPo6IE2eknjo4wN5FHDMLl6Bbr966fkg+MEDMkc0LnkMgO44nIGr1DaYEoobDAFODYYB5gNhgG3wXBIbTApRDaYCJQNRsHeBrMH4SxnHAGgcHEKAAK+VOH6oZFLGQmvRLFMKQTo/GSJkvjwV5bOV9IM3vn5XCX3O094NU+pdtCtPZgjhxb6ZTJk0wkWygwGEu3XxNruE/YD6t9ijjcy+L4AAAAASUVORK5CYII=) no-repeat 50%
}

.image-upload-container.showcase-upload-small img {
    height: 64px
}

.image-upload-container.showcase-upload-small .upload-area {
    height: 76px
}

.image-upload-container.w-100-h-100 .img > p {
    width: 120px;
    height: 120px
}

.image-upload-container.w-250-h-250 .img > p {
    width: 90px;
    height: 90px
}

.image-upload-container.w-250-h-250 .upload-area {
    height: 100px
}

.image-upload-container.w-250-h-250 img {
    height: 90px
}

.image-upload-container.w-640-h-280 .img > p {
    width: 257px;
    height: 112px;
    background: #d8d8d8 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAAAuCAMAAACiV5+BAAAAgVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9d3yJTAAAAKnRSTlMAS/Di+/hZBYSSRSIczMb06+coct3QuqegmV06Lg99T7uxnH53aGc4EgzK062bAAABXklEQVRIx63V2W6DMBBA0SnYsc0OgbAlzb7N/39gFbeKRAkDBt+nPB1NNCMMZI/mFCaMJeGpecDctiXHd7zczkKeNf6rfpordxd7uXdTxYvxQ7FnqHD8GDdyggQHSgIDJsLBounKDYluUxXhUowrJjIrJFtNZI40c4SR/EbWlTrHNBOfVVXLxh9YsszRqFz2l79THI3jatdVvBRnlXaues2QKCSuka3h3YVC2LeANfGPL5PuJNRfqywavSM/pkfREQPFv6vfkKPo6IE2eknjo4wN5FHDMLl6Bbr966fkg+MEDMkc0LnkMgO44nIGr1DaYEoobDAFODYYB5gNhgG3wXBIbTApRDaYCJQNRsHeBrMH4SxnHAGgcHEKAAK+VOH6oZFLGQmvRLFMKQTo/GSJkvjwV5bOV9IM3vn5XCX3O094NU+pdtCtPZgjhxb6ZTJk0wkWygwGEu3XxNruE/YD6t9ijjcy+L4AAAAASUVORK5CYII=) no-repeat 50%
}

.image-upload-container.w-750-h-220 .img > p {
    width: 341px;
    height: 100px;
    background: #d8d8d8 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAAAuCAMAAACiV5+BAAAAgVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9d3yJTAAAAKnRSTlMAS/Di+/hZBYSSRSIczMb06+coct3QuqegmV06Lg99T7uxnH53aGc4EgzK062bAAABXklEQVRIx63V2W6DMBBA0SnYsc0OgbAlzb7N/39gFbeKRAkDBt+nPB1NNCMMZI/mFCaMJeGpecDctiXHd7zczkKeNf6rfpordxd7uXdTxYvxQ7FnqHD8GDdyggQHSgIDJsLBounKDYluUxXhUowrJjIrJFtNZI40c4SR/EbWlTrHNBOfVVXLxh9YsszRqFz2l79THI3jatdVvBRnlXaues2QKCSuka3h3YVC2LeANfGPL5PuJNRfqywavSM/pkfREQPFv6vfkKPo6IE2eknjo4wN5FHDMLl6Bbr966fkg+MEDMkc0LnkMgO44nIGr1DaYEoobDAFODYYB5gNhgG3wXBIbTApRDaYCJQNRsHeBrMH4SxnHAGgcHEKAAK+VOH6oZFLGQmvRLFMKQTo/GSJkvjwV5bOV9IM3vn5XCX3O094NU+pdtCtPZgjhxb6ZTJk0wkWygwGEu3XxNruE/YD6t9ijjcy+L4AAAAASUVORK5CYII=) no-repeat 50%;
}

.image-upload-container.w-640-h-280 img {
    height: 112px
}

.image-upload-container.w-640-h-280 .upload-area {
    height: 124px
}

.image-upload-container.w-640-h-300 .img > p {
    width: 257px;
    height: 120px
}

.image-upload-container.w-225-h-140 .img > p {
    width: 199px;
    height: 120px
}

.image-upload-container.category-100-100 .img > p {
    width: 80px;
    height: 80px;
    background: #d8d8d8 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAUCAYAAAB1aeb6AAAAAXNSR0IArs4c6QAAAZNJREFUSA29lTtLA0EUhbNBIQgiBl+FWFpY2QjBFAoKdlY2gq0oKAjaaWHvb7AT/4BFUNBGRBEstAvY+AwqwVcQtND4nYWscc0mM67uhS+7M3PuuXezk0ksZhHFYjEBC7AF13APu7ACbRZWdlLMh+AMguKZhRk7VwM1pil4Carqm58ysDSTYNwAd74C1YbvLPaauMcNRBNoWg10JYk850qDatc6/yJddzM3CromYABsY1xfDUlq5Bw2Hcc5CDRB2wzr8AH/EXuY9vxogMkOOLWseIR+BLYt8p7Q9nsNMHBAXZnGG8IlcF8ZV+VPQwFM4hZRixrQOxmDtAYG8YhmFnZA+0FRD8cwCTmoFTqMFl0RXWyYtFtBk5IB850V1mpN3SCI68n73C6i/WinXJeKJ6Ot61VLqnjeG0Z7k1fx/WhrutWuOHQutGHS8JuDRT+ZS8iBbcx7D0zmqm12CP0JuV/HOoMmyIQwNE3NItR/xvdgMg7L8AB/Ha8YrkFjeVWnfKB7BDqxBmEYdB82DjHIsMEKfqNPalQxgon1xI0AAAAASUVORK5CYII=) no-repeat 50%
}

.image-upload-container.category-100-100 img {
    height: 80px
}

.image-upload-container.category-100-100 .upload-area {
    height: 92px
}

.image-upload-container .upload-area {
    display: table;
    padding-left: 20px
}

.image-upload-container .upload-area p {
    font-size: 14px;
    margin-bottom: 15px;
    color: #888
}

.image-upload-container .upload-cell {
    display: table-cell;
    vertical-align: middle
}

.image-upload-container .psd-link {
    display: block;
    color: #29b6b0;
    text-decoration: underline;
    font-size: 14px;
    margin-bottom: 15px
}

.image-upload-container .example-link {
    color: #29b6b0;
    font-size: 12px;
    margin-left: 10px
}

.image-upload-container .upload-btn {
    position: relative
}

.image-upload-container .file-upload {
    width: 78px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0
}

.image-upload-container .invalid {
    color: #ffc4b8;
    font-size: 12px;
    margin: 10px 0 0 15px
}

.image-upload-container .tip {
    line-height: 1.5
}

.switch {
    position: relative;
    width: 44px;
    user-select: none
}

.switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 11px
}

.switch-inner {
    width: 200%;
    margin-left: -100%;
    transition: margin .2s ease-in
}

.switch-inner:after, .switch-inner:before {
    float: left;
    padding: 0;
    width: 50%;
    height: 22px;
    line-height: 22px;
    color: #fff;
    box-sizing: border-box
}

.switch-inner:before {
    content: "\5F00";
    padding-left: 7px;
    font-size: 12px;
    color: #fff;
    background-color: #444
}

.switch-inner:after {
    content: "\5173";
    padding-right: 7px;
    color: #fff;
    font-size: 12px;
    background-color: #bbb;
    text-align: right
}

.switch-switch {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 22px;
    width: 14px;
    margin: 4px;
    background: #fff;
    border-radius: 11px;
    transition: right .2s ease-in, box-shadow .2s ease-in
}

.on .switch-inner {
    margin-left: 0
}

.on .switch-switch {
    right: 0
}

.disable .switch-inner:after, .disable .switch-inner:before {
    cursor: not-allowed;
    background-color: #eee
}

.file-uploads {
    overflow: hidden;
    position: relative;
    text-align: center
}

.file-uploads input {
    z-index: 1;
    opacity: 0;
    font-size: 20em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
    float: left
}

.swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    transition-property: transform;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.swiper-container-multirow > .swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-container-free-mode > .swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
    height: auto
}

.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    transition-property: transform, height
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: 50%;
    background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23007aff'/%3E%3C/svg%3E");
    left: 10px;
    right: auto
}

.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z'/%3E%3C/svg%3E")
}

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23fff'/%3E%3C/svg%3E")
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23007aff'/%3E%3C/svg%3E");
    right: 10px;
    left: auto
}

.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z'/%3E%3C/svg%3E")
}

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23fff'/%3E%3C/svg%3E")
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000
}

.swiper-container-vertical > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 5px 0;
    display: block
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px
}

.swiper-pagination-progress {
    background: rgba(0, 0, 0, .25);
    position: absolute
}

.swiper-pagination-progress .swiper-pagination-progressbar {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
    -webkit-transform-origin: right top;
    transform-origin: right top
}

.swiper-container-horizontal > .swiper-pagination-progress {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0
}

.swiper-container-vertical > .swiper-pagination-progress {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0
}

.swiper-pagination-progress.swiper-pagination-white {
    background: hsla(0, 0%, 100%, .5)
}

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
    background: #fff
}

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
    background: #000
}

.swiper-container-3d {
    -webkit-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-coverflow .swiper-wrapper, .swiper-container-flip .swiper-wrapper {
    -ms-perspective: 1200px
}

.swiper-container-cube, .swiper-container-flip {
    overflow: visible
}

.swiper-container-cube .swiper-slide, .swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1
}

.swiper-container-cube .swiper-slide .swiper-slide, .swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active, .swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-container-cube .swiper-slide {
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%;
    height: 100%
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, .1)
}

.swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12) infinite;
    animation: swiper-preloader-spin 1s steps(12) infinite
}

.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%23fff' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E")
}

@-webkit-keyframes swiper-preloader-spin {
    to {
        -webkit-transform: rotate(1turn)
    }
}

@keyframes swiper-preloader-spin {
    to {
        transform: rotate(1turn)
    }
}

